  <div class="c-body" id="about">
    <div class="blog">
      <h1>About</h1>
    </div>

        <div class="card-container">

            <div class="row">

                  <!-- cards -->
                    <div class="about-card">
                      
                      <div class="about-item">

                        <div>
                          <img src="../../../assets/images/cat.jpg" alt="" id="cat"/>
                        </div>
                        
                        I am passionate about software engineering and finding creative solutions to solve complex problems. 
                        
                        After several years as a clinical researcher and a medical interpreter, 

                        I have found myself drawn to the world of programming, its fast pace and unlimited learning opportunities. 
                        Trained in Ruby, Rails, JavaScript, React, and AWS.
                         
                        To build this portfolio, I used Angular and Bootstrap for styling.

                        </div>
                      </div>
        
                      
                </div>
        </div>
  </div>

