  <div class="c-body" id="about">
    <div class="blog">
      <h1>About</h1>
    </div>

        <div class="card-container">

            <div class="row">

                  <!-- cards -->
                    <div class="about-card">
                      
                      <div class="about-item">
                        Before discovering my passion for programming, I enjoyed science and medicine. 
                        Graduating from University of Colorado Denver with the Bachelor’s degree in Biology, 
                        I worked as a laboratory research assistant and, later, as a medical interpreter thinking 
                        I would eventually continue medical education. 
                        <div>
                          <img src="../../../assets/images/cat.jpg" alt="" id="cat"/>
                        </div>  
                        As great as it was, something was missing… 
                        That something was the fast pace, problem solving and unlimited learning opportunities that 
                        I discovered in programming.
                        
                        Having spent some time learning on my own, 
                        I enrolled into Flatiron School's Software Engineering Immersive program. 
                        
                        The program was incredibly intensive and really pushed every cell in my brain! 
                        Now I have strong skills in React, JavaScript, and Ruby on Rails. Since graduation, 
                        I’ve been pushing myself every single day by learning and exploring new technologies. 
                        To build this portfolio, I used Angular and Bootstrap for styling.

                        </div>
                      </div>
        
                      
                </div>
        </div>
  </div>

