    <div class="c-body" id="projects">
      <div class="blog">
        <h1>Projects</h1>
      </div>

      <div class="card-container">

        <div class="row">

     <!-- cards -->
     <div class="col-md-4">
      <div class="inner-card">
        <div class="card-item">
          <img class ="card-image-top" src="../../../assets/images/wellbee.png" id="">
            <div class="card-body">
              <div class="project-title">
                <h3>WellBee 

                 <a href="https://github.com/khmelka/WellBee"><i class="fab fa-github" [ngStyle]="{'zoom':'1.1'}" title="GitHub"></i></a>
                  
                 <a href="https://floating-ocean-14783.herokuapp.com/users"><i class="fas fa-globe" [ngStyle]="{'margin-left':'7px', 'zoom':'1.1'}" title="Demo"></i></a>

                </h3>
              </div>
              <div class='card-text'>
                
                    <img src='../../../assets/images/icons/ruby.png' id="smallIcons"/>
                     
                    <img src='../../../assets/images/icons/rails.png' id="smallIcons"/>
                     
                     <img src='../../../assets/images/icons/Bootstrap.png' id="smallIcons"/>
                
                </div>
              
            </div>
          </div>
        </div>
     </div>
     
     <div class="col-md-4">
      <div class="inner-card">
        <div class="card-item">
          <img class ="card-image-top" src="../../../assets/images/horrormovies.png" id="">
            <div class="card-body">
              <div class="project-title">
                <h3>HorrorMovies 
                  <a href="https://github.com/khmelka/HorrorMovieFrontend"><i class="fab fa-github" [ngStyle]="{'zoom':'1.1'}" title="GitHub"></i></a>
                  
                  <a href="https://master.d33t5402rji87e.amplifyapp.com/"><i class="fas fa-globe" [ngStyle]="{'margin-left':'7px', 'zoom':'1.1'}" title="Demo"></i></a>                </h3>
              </div>              
              <div class='card-text'>
                <img src='../../../assets/images/icons/Javascript.png' id="smallIcons"/>
                      
                <img src='../../../assets/images/icons/Bootstrap.png' id="smallIcons"/>
                      
                <img src='../../../assets/images/icons/ruby.png' id="smallIcons"/>
                      
                <img src='../../../assets/images/icons/rails.png' id="smallIcons"/>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="inner-card">
        <div class="card-item">
          <img class ="card-image-top" src="../../../assets/images/skibud.png" id="">
            <div class="card-body">
              <div class="project-title">
                <h3>SnowBuddy 
                  <a href="https://github.com/khmelka/snowBuddy-frontend"><i class="fab fa-github" [ngStyle]="{'zoom':'1.1'}" title="GitHub"></i></a>
                  
                  <a href="https://master.d2ukukz7ipiflm.amplifyapp.com"><i class="fas fa-globe" [ngStyle]="{'margin-left':'7px', 'zoom':'1.1'}" title="Demo"></i></a>
               
                </h3>
              </div>
                <div class='card-text'>
                    <img src='../../../assets/images/icons/React.png' id="smallIcons" title="React"/>
                          
                    <img src='../../../assets/images/icons/Redux.png' id="smallIcons"/>
                          
                    <img src='../../../assets/images/icons/Bootstrap.png' id="smallIcons"/>
                          
                    <img src='../../../assets/images/icons/node.png' id="smallIcons"/>
                          
                    <img src='../../../assets/images/icons/expressjs-icon.png' id="smallIcons"/>

                    <img src='../../../assets/images/icons/mongodb-icon.png' id="smallIcons" [ngStyle]="{'margin-left':'-9px'}"/>
              </div>
            </div>
        </div>

      </div>
     </div>
    </div>
    </div>
    </div>
 

  <!-- https://floating-ocean-14783.herokuapp.com/users -->
  <!-- https://master.d33t5402rji87e.amplifyapp.com/ -->
  <!-- https://master.d33bvqmj8s7z7b.amplifyapp.com/# -->