<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <li>
            <div class="rounded-circle">
              <img src="../../../assets/images/DSC_1749.JPG" id="img">
            </div>  
          </li>
      </div>
      <p class="myName" [ngStyle]="{'color': 'blue', 'text-align': 'center'}">Nelly Khmeleva</p>
      <ul class="list-unstyled components" [ngStyle]="{'text-align': 'center'}">
        <li >
          <a  href="#about">About</a>
        </li>
        <li >
          <a  href="#skills" ><i class="fas fa-briefcase"></i>    Skills</a>
          </li>
          <li >
            <a  href="#projects" ><i class="fas fa-copy"></i>   Projects</a>
          </li>
          <li >
            <a  href="#blogs"blogs ><i class="fas fa-copy"></i>   Blogs</a>
          </li>
      </ul>
      <li><a id="toggle" class="waves-effect"><i class="sv-slim-icon fas fa-angle-double-left"></i>Minimize
        menu</a>
    </li>
  </nav>

</div>

<!-- <div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
          </button>

      </div>
  </nav>
</div> -->