<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      
    <div class="pic-header">
         
            <div class="rounded-circle">
              <img src="../../../assets/images/DSC_1749.JPG" id="img">
            </div>  
        
        </div>

        <p class="myName" >Nelly Khmeleva</p>
          <p class="myTitle">Software Engineer</p>
      <div class="test">
      <ul >
        <li >
          <a  href="#about"><i class="fas fa-user"></i>    About</a>
        </li>
        <li >
          <a  href="#skills" ><i class="fas fa-briefcase"></i>    Skills</a>
          </li>
          <li >
            <a  href="#projects" ><i class="fas fa-cogs"></i>   Projects</a>
          </li>
          <li >
            <a  href="#blogs"blogs ><i class="fas fa-copy"></i>   Blogs</a>
          </li>
      </ul>
    </div>


         <div class='iconContainer'>
           <div [ngStyle]="{'text-align': 'center', 'zoom': '1'}">
           
            <a class="btn btn-default" href="mailto: nkhmeleva@yahoo.com" 
            title="Email">
            <i class="far fa-envelope" [ngStyle]="{'zoom': '1.2'}" ></i>
          </a>
          <a class="btn btn-default " href="https://www.linkedin.com/in/nellykhmeleva/"
            title="LinkedIn">
            <i class="fab fa-linkedin-in" [ngStyle]="{'zoom': '1.2'}"></i>
          </a>
            
          <a class="btn btn-default " href="https://github.com/khmelka"
            title="GitHub">
            <i class="fab fa-github" [ngStyle]="{'zoom': '1.2'}"></i>
          </a>

          <a class="btn btn-default" href="https://drive.google.com/file/d/1cPocJkD13hvb8orQMZpfSLLFaZ_VtwME/view?usp=sharing"
            title="Resume">
            <i class="fas fa-file-alt" [ngStyle]="{'zoom': '1.2'}"></i>
          </a>
            
            </div>
         </div>
  </nav>

</div>

<!-- <div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
          </button>

      </div>
  </nav>
</div> -->